################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/lab1/.vs/lab1
/lab2/.vs/lab2
\lab2\lab2\x64
/lab2/lab2/x64/Debug/lab2.tlog
/lab2/lab2/x64/Debug
/lab2/x64/Debug/lab2.pdb
/lab2/x64/Debug
/lab3/.vs/lab3
\lab3\lab3\x64
/lab3/lab3/x64/Debug/lab3.tlog
/lab3/lab3/x64/Debug
/lab3/x64/Debug/lab2.pdb
/lab3/x64/Debug